@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hệ thống Quản lý Người dùng STTech.</p>

    <p>Bấm vào đây để bắt đầu:</p>
    <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Đi đến Trang quản lý Users</a>
</div>